@import "tailwindcss";

@theme {
  /* colors */
  --color-black: #2b2b2b;
  --color-black-white: #3b3b3b;
  --color-white: #ffffff;
  --color-gray: #858584;
  --color-accent: #a259ff;
  /* breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-1md: 690px;
  --breakpoint-1lg: 1050px;
  /* rounded */
  --radius-primary: 20px;
}
@theme inline {
  /* fonts */
  --font-work-sans: var(--font-work-sans);
  --font-space-mono: var(--font-space-mono);
}

@layer base {
  body {
    @apply font-work-sans bg-black text-white;
  }
}
@layer components {
  /* fonts */
  .h1-sans {
    @apply font-work-sans font-semibold text-[28px]/[140%] md:text-[38px]/[120%] lg:text-[67px]/[110%];
  }
  .h2-sans {
    @apply font-work-sans font-semibold text-[28px]/[140%] md:text-[28px]/[140%] lg:text-[38px]/[120%];
  }
  .h3-sans {
    @apply font-work-sans font-semibold text-[22px]/[140%];
  }
  .h4-sans {
    @apply font-space-mono font-semibold text-[16px]/[140%] lg:text-[22px]/[140%];
  }
  .p-sans {
    @apply font-work-sans font-normal text-[16px]/[140%];
  }
  .p-sans-xl {
    @apply font-work-sans font-normal text-[16px]/[140%] lg:text-[22px]/[160%];
  }
  .h1-space {
    @apply font-space-mono font-semibold text-[28px]/[140%] md:text-[38px]/[120%] lg:text-[67px]/[110%];
  }
  .h2-space {
    @apply font-space-mono font-semibold text-[28px]/[140%] md:text-[28px]/[140%] lg:text-[38px]/[120%];
  }
  .h3-space {
    @apply font-space-mono font-semibold text-[22px]/[140%];
  }
  .h4-space {
    @apply font-space-mono font-semibold text-[16px]/[140%] lg:text-[22px]/[140%];
  }
  .p-space {
    @apply font-space-mono font-normal text-[16px]/[140%];
  }
  .p-space-xl {
    @apply font-space-mono font-normal text-[16px]/[140%] lg:text-[22px]/[160%];
  }
  /* buttons */
  .button-primary {
    @apply w-max px-[50px] py-[20px] font-work-sans font-semibold text-[16px] capitalize rounded-primary bg-accent flex items-center justify-center hover:cursor-pointer before:w-[20px] before:h-[20px] before:mr-[12px];
  }
  .button-transparent {
    @apply w-max px-[50px] py-[20px] font-work-sans font-semibold text-[16px] capitalize rounded-primary bg-transparent border-[2px] border-accent flex items-center justify-center hover:cursor-pointer before:w-[20px] before:h-[20px] before:mr-[12px];
  }
  .button-white {
    @apply w-max px-[50px] py-[20px] font-work-sans font-semibold text-[16px] text-black capitalize rounded-primary bg-white flex items-center justify-center hover:cursor-pointer before:w-[20px] before:h-[20px] before:mr-[12px];
  }
  .input-primary {
    @apply w-full py-[12px] px-[20px] lg:p-[20px] bg-white border border-gray font-work-sans text-black outline-none  rounded-primary;
  }
}
@utility container {
  @apply mx-auto px-[5px] max-w-[1050px];
}
@utility underline-primary {
  @apply underline decoration-2 underline-offset-4;
}
